<div class="container">
  <div class="row">
    <div class="col-xs-12 info-screen">
      <div class="col-md-3 home-logo">
        <a href="home">
          <img class="img-responsive" [src]="logoUrl">
        </a>
      </div>

      <div class="col-md-4 eng">
        <h3>Eng</h3>
        <p>
            Fernando Rodriguez. Born in San Francisco and raised in Durango, Mexico. He holds a degree in Graphic Design and Photography. His images have been featured in fashion magazines in Mexico, US, Canada, England Such as Schon! (London) Ellements (NYC), Lucys (US), Vulkan (Canada), Dreamingless (London), HUF (London), Flesh (Mexico), Y-NOT (Mexico) Artistry community (MEX) and many others. As well as showcased in events and galleries around the San Francisco Bay Area and Mexico City. Most recently, Fernando moved to Mexico City and has worked on multiple projects in collaboration with bay area and Mexicans artists. He still exploring new techniques and different ways to communicate with images and has plans to move into moving image.
        </p>
        <p>            
            Rodriguez gets his inspiration from human behavior, lifestyle, fashion and culture, and is influenced by photographers such as Steven Klein, Tim Walker, Nick Knight, Ruven Afanador, Solve Soundsbo, Marios Testino and many others.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Esp</h3>
        <p>
            Fernando Rodriguez. Nacido en San Francisco California, criado en Durango Mex. Con una licenciatura en diseño grafico y estudios en fotografía de moda. Sus imagenes han sido publicadas en México, Estados unidos, Canada e Inglaterra en revistas como Schon! (London) Ellements (NYC), Lucys (US), Vulkan (Canada), Dreamingless (London), HUF (London), Flesh (Mexico), Y-NOT (Mexico) Artistry community (MEX) entre otras. También ha particidado en exhibiciones de arte en San Francisco y en el area de la bahía y la Ciudad de Mexico. Recientemente ha estubo trabajando y haciendo colaboraciones con artistas en el area de la bahía, San Francisco, México y otras nacionalidades. Sigue explorando nuevas tecnicas y medios para comunicar ideas con imagines asi como dar un salto a imagen en movimiento.
        </p>
        <p>            
            Rodriguez obtiene su inspiración del comportamiento humano, vida cotidiana, moda y cultura, y es influenciado de fotógrafos como Steven Klein, Tim Walker, Nick Knight, Ruven Afanador, Solve Soundsbo, Marios Testino y muchos otros.
        </p>
      </div>
    </div>
    <!-- <span class="hidden-xs">"The nobodias: nobody's children, owners of nothing."</span> -->

    <div class="social-network">
      <a href="https://www.behance.net/thenobodyphotography" target="_blank">
        <span class="fa fa-behance-square"></span>
      </a>
      <a href="https://www.facebook.com/thenobodyphotography/" target="_blank">
        <span class="fa fa-facebook-square" target="_blank"></span>
      </a>
      <a href="https://www.instagram.com/nobody_photo/" class="instagram" target="_blank">
        <span class="fa fa-instagram"></span>
      </a>
      <a href="mailto:thenobodyphotography@gmail.com" target="_blank">
        <span class="fa fa-envelope-square"></span>
      </a>
    </div>
  </div>
</div>