<div class="container">
  <div class="row">
    <div class="col-xs-12 info-screen">
        <img [src]="logoUrl">
        
        <p>
          Deeply spired by human behavior, lifestyle and culture. Attracted to artistic, fashion and conceptual photography.
          <span class="hidden-xs">"The nobodias: nobody's children, owners of nothing."</span>
        </p>

        <div class="social-network">
          <a href="#"><span class="fa fa-behance-square"></span></a>
          <a href="#"><span class="fa fa-facebook-square"></span></a>
          <a href="#" class="instagram"><span class="fa fa-instagram"></span></a>
          <a href="#"><span class="fa fa-envelope-square"></span></a>
        </div>

    </div>
    
  </div>
</div>
