<!--<p>
  home works!
</p>-->
<div class="owl-carousel home-carousel">
  <div class="item-elem" style="background-image: url('https://mir-cdn.behance.net/v1/rendition/projects/original/71533c53518003.Y3JvcCwxMzM2LDEwNDUsMCw0ODE.jpg')">
  	<div class="gradient"></div>
  </div>
  <div class="item-elem" style="background-image: url('https://mir-s3-cdn-cf.behance.net/projects/original/92e45c51431303.Y3JvcCwyOTkwLDIzNDAsNyww.jpg')">
  	<div class="gradient"></div>
  </div>
  <div class="item-elem" style="background-image: url('https://mir-s3-cdn-cf.behance.net/projects/original/b41b2a51269875.Y3JvcCwxMzM2LDEwNDUsMCwyMjQ.jpg')">
  	<div class="gradient"></div>
  </div>
  <div class="item-elem top-img" style="background-image: url('https://mir-s3-cdn-cf.behance.net/projects/original/9d195250199605.Y3JvcCwxNjcxLDEzMDgsMCwxMjM.jpg')">
  	<div class="gradient"></div>
  </div>
</div>