<!--<p>
  home works!
</p>-->
<div class="owl-carousel home-carousel">

	<div class="item-elem" *ngFor="let proj of projects; let last = last">
		<img [src]="proj.url.desktop" (load)="proj.currentImg = proj.url.desktop" class="hidden">
		<div *isDesktop class="img-car" [style.background-image]="correctURL(proj.currentImg)">
			<div class="loading-img" *ngIf="notLoaded == proj.currentImg">
				<h1>Loading...</h1>
			</div>
			{{last ? initCarousel() : ''}}
			<a href="/project/{{proj.id}}">
				<div class=""></div>
			</a>
		</div>
		<img [src]="proj.url.desktop" (load)="proj.currentImg = proj.url.tablet" class="hidden">
		<div *isTablet [style.background-image]="correctURL(proj.url.tablet)">
			<div class="loading-img" *ngIf="notLoaded == proj.currentImg">
				<h1>Loading...</h1>
			</div>
			{{last ? initCarousel() : ''}}
			<a href="/project/{{proj.id}}">
				<div class=""></div>
			</a>
		</div>
		<img [src]="proj.url.desktop" (load)="proj.currentImg = proj.url.mobile" class="hidden">
		<div *isMobile [style.background-image]="correctURL(proj.url.mobile)">
			<div class="loading-img" *ngIf="notLoaded == proj.currentImg">
				<h1>Loading...</h1>
			</div>
			{{last ? initCarousel() : ''}}
			<a href="/project/{{proj.id}}">
				<div class=""></div>
			</a>
		</div>
	</div>
</div>