.project-detail{
	.owl-carousel{
		.item-elem {
			display: flex;
			justify-content: center;
			height: 100vh;
			padding: 5% 0;
			img{
				width: auto;
				height: 100%;
			}
		}
	}

	.project-title{
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 20px;
		color: black;
		font-weight: bold;
	}
}