$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

.project-detail{
	.owl-carousel{
		.item-elem {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			padding: 5% 0;
			img{
				width: auto;
				height: 100%;
				@media (max-width: #{$screen-sm-max}) {
					width: 100%;
					height: auto;
				}
			}
		}

		@media (max-width: #{$screen-sm-max}) {
			.owl-nav{
				& .owl-prev,
				& .owl-next{
					&:before{
						color: white;
					}
				}
			}
		}
	}

	.project-title{
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px 20px;
		color: black;
		font-weight: bold;
		font-family: 'moriston-semibold', helvetica;
		font-size: 24px;
		background-color: white;
		h2{
			margin: 0;
		}

		@media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
			z-index: 99;
		}
	}
}