<!--<p>
  home works!
</p>-->
<div class="project-detail">
	<div class="owl-carousel project-carousel">
		<div class="item-elem">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/1575f353518003.59374b61d21d5.jpg">
	  	</div>
	  	<div class="item-elem">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/8801bb53518003.59374b61d180a.jpg">
	  	</div>
	  	<div class="item-elem">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/66f09253518003.59374b61d4ced.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/59b3eb53518003.59374b61d1012.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/31e09f53518003.59374b61d1442.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/84826253518003.59374b61d3ed0.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/9b5f4853518003.59374b61d4260.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/296c6553518003.59374b61d074b.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/10ca1753518003.59374b61d020e.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/9c1f4f53518003.59374b61d3154.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/9f57fe53518003.59374b61d47c5.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/26a5de53518003.59374b61d270a.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/0c986453518003.59374b61d351a.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b8d3ae53518003.59374b61d2bcf.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/df1a7353518003.59374b61d39a9.jpg">
	  	</div>
	  	<div class="item-elem top-img">
	  		<img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/e8579553518003.59374b61d1d06.jpg">
	  	</div>
	</div>

	<div class="project-title">
		<h2>Mamba for Lucy's Magazine</h2>
	</div>
</div>