<div class="container item-list">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 item-project">
			<a href="project/0">
				<img src="https://mir-s3-cdn-cf.behance.net/projects/404/71533c53518003.Y3JvcCwxMzM2LDEwNDUsMCw0ODE.jpg">
				<div class="title-project">
					<h3>Mamba for Lucy's Magazine</h3>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 item-project">
			<a href="project/1">
				<img src="https://mir-s3-cdn-cf.behance.net/projects/404/92e45c51431303.Y3JvcCwyOTkwLDIzNDAsNyww.jpg">
				<div class="title-project">
					<h3>Red Wolves</h3>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 item-project">
			<a href="project/2">
				<img src="https://mir-s3-cdn-cf.behance.net/projects/404/b41b2a51269875.Y3JvcCwxMzM2LDEwNDUsMCwyMjQ.jpg">
				<div class="title-project">
					<h3>Savage for Flesh Magazine</h3>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 item-project">
			<a href="project/2">
				<img src="https://mir-s3-cdn-cf.behance.net/projects/404/081b2b50199283.Y3JvcCwxNjcwLDEzMDcsMCw1MzE.jpg">
				<div class="title-project">
					<h3>New Age</h3>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 item-project">
			<a href="project/2">
				<img src="https://mir-s3-cdn-cf.behance.net/projects/404/9d195250199605.Y3JvcCwxNjcxLDEzMDgsMCwxMjM.jpg">
				<div class="title-project">
					<h3>7 pipe ad Campaign</h3>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 item-project">
			<a href="project/2">
				<img src="https://mir-s3-cdn-cf.behance.net/projects/404/3bc08c50198815.Y3JvcCwxNjcxLDEzMDgsMCw1NzM.jpg">
				<div class="title-project">
					<h3>Voodoo Child</h3>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 item-project">
			<a href="project/2">
				<img src="https://mir-s3-cdn-cf.behance.net/projects/404/3c3f6650198459.Y3JvcCwyMTM2LDE2NzIsMjA1LDA.jpg">
				<div class="title-project">
					<h3>Dolls</h3>
				</div>
			</a>
		</div>
	</div>
</div>