$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

.item-list{
	padding-top: 10%;
	.item-project{
		position: relative;
		padding: 0;
		a{
			img{
				width: 100%;
			}
			.title-project{
				position: absolute;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;

				background-color: rgba(255, 255, 255, 0.85);
				width: 100%;
				height: 100%;
				padding: 5%;
				text-align: center;

				color: black;
				font-family: 'moriston-semibold', helvetica;
				font-size: 24px;
				opacity: 0;

				-webkit-transition: opacity 0.2s; /* Safari 3.1 to 6.0 */
    			transition: opacity 0.2s;
			}

			&:hover{
				> .title-project{
					opacity: 1;

					-webkit-transition: opacity 0.2s; /* Safari 3.1 to 6.0 */
    				transition: opacity 0.2s;
				}
			}
		}
	}
	@media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
		padding-top: 20%;
	}
	@media (max-width: #{$screen-md-max}) {
		padding-top: 25%;
	}
}